    <div class="container">
      <h3>山田花子さんの会員詳細</h3>
      <table>
        <tbody>
          <tr>
            <td>会員ID</td>
            <td>1</td>
          </tr>
          <tr>
            <td>氏名</td>
            <td>山田花子</td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td>ヤマダハナコ</td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td>1500041</td>
          </tr>
          <tr>
            <td>住所</td>
            <td>東京都渋谷区神南1丁目19-11</td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td>08011112222</td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td>hoge@mail.com</td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>有効/無効</td>
          </tr>
        </tbody>
      </table>
    </div>