    <div class="container">

      <h3>注文確認画面</h3>

      <!-- 枠線の色はcssで変更する -->
      <div class="row d-flex justify-content-between">
        <table class="table-bordered col-md-8">
          <thead class="bg-warning">
            <tr>
              <th>画像＆商品名(cart.items.name)</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>商品画像&チョコレートバナナ（仮）</td>
              <td>1個</td>
              <td>1,100(仮)</td>
              <td>1,100</td>
            </tr>
          </tbody>
        </table>
        <!-- ----------------------------------------------------------------------- -->
        <table class="table-bordered col-md-3 offset-md-1">
          <tr>
            <th class="bg-warning">送料</th>
            <td>800</td>
          </tr>
          <tr>
            <th class="bg-warning">商品合計</th>
            <td>1,760(仮)</td>
          </tr>
          <tr>
            <th class="bg-warning">請求金額合計</th>
            <td>2,560(仮)</td>
          </tr>
        </table>
      </div>

      <!-- --------------------------    ---------------------------------------- -->
      <table class="line-height">
        <tr>
          <th><strong>支払い方法</strong></th>
          <td>クレジットカード（仮）</td>
        </tr>
        <tr>
          <th><strong>お届け先</strong></th>
          <td>住所表示(仮)</td>
        </tr>
        <tr>
          <th></th>
          <td>氏名（仮）</td>
        </tr>
      </table>
      <!-- データベースの書き換え？画面の切り替えだけ？？ -->
      <!-- 本番の時はlink_to で書き換え予定 -->
      <div class="d-flex justify-content-center">
        <input type="button" class="btn btn-success" onclick="location.href='sample.html'" value="注文を確定する">
      </div>
    </div>