<div class="container">
  <div class="row">
    <h2>ショッピングカート</h2>
    <%= button_to 'カートを空にする', @cart_items, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: "btn btn-danger destroy-all" %>
  </div>
</div>  